<hr>
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p>Copyright © john gude.</p>
          </div>
        </div>
      </div>
    </footer>

    <script src="javascripts/events.js"></script>
</body>
</html>

