<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
  <a href="/home"><button>Go home</button></a>
  <a href="/results"><button>Get Results</button></a>

   
        
  

</body>
<script src="javascripts/events.js"></script>
</html>